body { background:#FFF; font-family: 'Source Sans Pro', sans-serif; }
.navbar-default { background-image:none; background-color:transparent; border:0px; box-shadow:none; padding-bottom:0px;margin-bottom:0px; } 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a { background:#3c75af; color:#FFF; }
.navbar-default .navbar-nav>li>a {color: #000000;padding-top:70px;padding-bottom:70px;  font-size:13px;}
.navbar-default .navbar-nav>li>a:hover { background:#3c75af; color:#FFF; }
.navbar-brand {float: left;padding: 0px;font-size: 18px;line-height: 20px;height:auto;}

.window.first {
border-top:10px solid #20487e;
border-bottom:10px solid #20487e;
background:#fff;
min-height:100px;
 margin-top:50px;
}
.window.page { background-color:#efefef; } 
.window.first .center-block h3 { color:#000; font-weight:bold; font-size:22px; margin-top:10px;} 
.window.first .center-block span  { color:#414141 ; font-size:11px; } 
.window.first .center-block img { margin-top:5px; }

.window.first .right-block i { margin-right:10px; }
.window.first .right-block { font-size:13px; line-height:25px;}
.window.first .right-block  > div { margin-top:30px; }

.window.second { background:#f0f0f0; min-height:200px; }
.window.third { background:#c8c8c8; min-height:100px; border-bottom:3px solid #8c8c8c; }

.window  .box { color:#FFF; padding:25px; border-radius:3px; font-size:13px; min-height:160px; padding-left:60px; background-image:url('../img/quote.png'); background-repeat:no-repeat; background-position:10px 20px; } 
.window .box.red { background-color:#dd1a1f; margin-top:80px;}
.window .box.blue { background-color:#353535; margin-top:5px;} 
.window .box.grey  { background-color:#0964b8; margin-top:80px;} 


.window.fourth  h3 { font-size:18px; font-family:'Source Sans Pro'; color:#585858; font-weight:400; margin:0px; padding-top:40px; padding-bottom:15px;  } 
 
footer { background-color:#242424; height:122px; margin-top:70px;  color:#FFF;}
footer > div { padding-top:40px; font-family:'Source Sans Pro'; font-size:13px; letter-spacing:1px; } 



img.img-responsive { display: table-cell; max-width: 100%; }


.panel-default { color:#FFF; }

.panel-default>.panel-heading {
background-color:#32518a !important;background-image:none !important;border:0px;color:#FFF;
}
.panel-default>.panel-heading.noround {
border-radius:0px;
}
.panel-body {
background-color:#3c75af !important;border:0px;
padding:0px;
}
.panel-body  img { margin-top:2px; border-radius:5px; }
.second-menu { padding-left:0px; }
.second-menu li a { color:#FFF;border-bottom:1px solid #608ebe; text-transform:uppercase;font-size:14px; } 
.second-menu li a:hover { color:#FFF; background:transparent;}
.second-menu li a i { padding-right:30px;padding-left:5px;}
.text-block h4{ text-transform: uppercase; border-bottom:1px solid #7d7d7d; font-size:23px; color:#474747; padding-bottom:5px ;}

.gradient-1 {
	background: #252525; /* Old browsers */
	background: -moz-linear-gradient(45deg, #252525 0%, #474848 38%, #474848 61%, #252525 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#252525), color-stop(38%,#474848), color-stop(61%,#474848), color-stop(100%,#252525)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #252525 0%,#474848 38%,#474848 61%,#252525 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #252525 0%,#474848 38%,#474848 61%,#252525 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #252525 0%,#474848 38%,#474848 61%,#252525 100%); /* IE10+ */
	background: linear-gradient(45deg, #252525 0%,#474848 38%,#474848 61%,#252525 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#252525',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.white-box {

    background:#ffffff;
	min-height:225px;
	margin-top:20px;
	margin-bottom:20px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding:20px;

}

.white-box h3 {

    font-weight:600;
	font-size:30px;
	line-height:25px;
	margin-top:5px;
	padding-left:20px;
	padding-bottom:24px;

}

.white-box p {

    padding-left:20px;
	padding-right:20px;
	color:#757575;
	font-size:13px;
	line-height:25px;
}

.img-responsive {
    margin: 0 auto;
}


.window.second h2 {  
	color:#3d3d3d;
	font-size:30px;
	margin-top:50px;
	margin-bottom:30px;
	line-height:40px;
	letter-spacing:3px;
	padding-left:10px;
	text-align:center;
}


.navbar-brand{
	margin-left:8% !important;
}


.window.second .firstp {
color:#757575;font-size:13px;line-height:25px;padding-left:40px;
}

.window.second .secondp {
color:#757575;font-size:13px;padding-left:40px;
}

@media (max-width: 768px) { 
.nav{ overflow:hidden;}
	.navbar-default .navbar-nav>li>a {
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;

	}
}

@media (max-width: 991px) {

  .center-block { margin-bottom:20px;}
 .navbar-brand{
	margin:0px auto !important;
	float:none;
    }
	
	.navbar-header {
	margin:0px auto !important;
	float:none;
	}
  
    .white-box {
	    border-radius:5px !important;
		text-align:center !important;
	}
	
	.window.third img {
	    display:none; 
	}
	
	.window.first .car-image {
	    display:none; 
	}
	
	.text-special { display:none; }
	

}

@media (min-width: 1200px) {
    
    .window.start .left-block {
	    padding-right:0px;
	}
	
	.window.start .right-block {
	    padding-left:0px;
	}
	
	
	.window.third .left-box {
	    padding-right:0px;
	}
	
	.window.third .right-box {
	    padding-left:0px;
	}
	
	.window.fourth .box-first{
	  
		padding-right:0px;
		border-radius:0px !important;
	}
	
	.window.fourth .box-second{
	    padding-left:0px;
		padding-right:0px;
		border-radius:0px !important;
	}
	
	.window.fourth .box-third{
	    padding-left:0px;
		border-radius:0px !important;
	}
	
	.special-imeg { height:239px;} 

}

@media (min-width: 1200px) {

    .sss img {
	    max-height:356px !important;
	}
}


@media only screen and (min-width : 991px) and (max-width : 1200px) { 
.ssslide { min-height:396px !important;}
.window.start .left-block {
	    padding-right:0px;
	}
	
	.window.start .right-block {
	    padding-left:0px;
	}
	
	
	.window.third .left-box {
	    padding-right:0px;
		
	}
	
	
	
	.window { overflow:hidden;}
	
	.window.third .right-box {
	    padding-left:0px;
		min-height:273px;
	}
	
	.window.third .box-first .blue {  min-height:273px; }
	.window .box.grey {  min-height:193px; }
	.window .box.blue {  min-height:193px; }
	.window .box.red {  min-height:193px; }
	.window.third .box-third .red {  min-height:273px; }
	
	.window.fourth .box-first{
	  
		padding-right:0px;
		border-radius:0px !important;
		min-height:273px;
	}
	
	.window.fourth .box-second{
	    padding-left:0px;
		padding-right:0px;
		border-radius:0px !important;
	}
	
	.window.fourth .box-third{
	    padding-left:0px;
		border-radius:0px !important;
	}
	
	.special-imeg { min-height:314px;} 
}








