	<footer>
		
		    <div class="footer_text text-center">
			
			    AUTOBAZAR CAMIL     45-511 Opole, ul. Obrońców Stalingradu 41     tel. (77) 453 76 44 <br /><br />
                współpraca z www.eAuto.pl
			
			</div>
		
		
		</footer>
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="#theme_url#js/bootstrap.min.js"></script>
		<script src="#theme_url#js/sss.min.js"></script>
		
		<script>
		jQuery(function($) {
		$('.slider').sss();
		});
		</script>
     	
    </body>
</html>
