                <div class="row">
      
                  <div class="col-md-12">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h5>#post_name# <span class="pull-right">#post_date#</span></h5> </div>
                      <div class="panel-body">#post_content#
					  <div class="panel-footer"></div>
                      </div>
                    </div>
                  </div>  
              	</div>