
<!-- Begin Body -->

<div class="window start">
		    
			<div class="container">
			
			    <div class="row">
			
					<div class="col-md-4 left-block">
					
						<div class="row">
						
							<div class="col-md-12">
							
							    <div style="background:#d71010;">
								
								    <div class="head text-center" style="color:#FFF;font-size:19px;font-weight:bold;font-family:'Source Sans Pro';border-bottom:1px solid #fff;padding-bottom:10px;padding-top:10px;">
									    <i class="fa fa-usd" style="float:left;padding-left:25px;padding-top:7px;"></i> Wypełnij formularz sprzedaży
									</div>
									
									<div class="body" style="padding:20px;color:#FFF;padding-top:10px;">
										Sprawiedliwość tak się ma do sprawiedliwości społecznej jak
										krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
										rzecz biorąc, ja jestem w jednej dziedzinie za równoupraw
										nieniem, a mianowicie: żeby w małżeństwie było 50%
										
									</div>
								
								</div>
							
							
							</div>
						
						</div>
						
						<div class="row">
						
							<div class="col-md-12">
							
							    <div class="gradient-1">
								 
								    <div class="head text-center" style="color:#FFF;font-size:19px;font-weight:bold;font-family:'Source Sans Pro';border-bottom:1px solid #7a7a7a;padding-bottom:10px;padding-top:10px;">
									    <i class="fa fa-search" style="float:left;padding-left:25px;padding-top:7px;"></i> Przejrzyj naszą ofertę
									</div>
									
									<div class="body" style="padding:20px;color:#FFF;padding-top:10px;">
										Sprawiedliwość tak się ma do sprawiedliwości społecznej jak
										krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
										rzecz biorąc, ja jestem w jednej dziedzinie za równoupraw
										nieniem, a mianowicie: żeby w małżeństwie było 50%
										
									</div>
								
								</div>
							
							</div>
						
						</div>
					   
						
					</div>
					
					<div class="col-md-8 right-block">
						<div class="slider">
							<img src="#theme_url#img/slider.png" class="img-responsive" />
							<img src="#theme_url#img/slider.png" class="img-responsive" />
							<img src="#theme_url#img/slider.png" class="img-responsive" />
							<img src="#theme_url#img/slider.png" class="img-responsive" />
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div>
		
		<div class="window first" >
		
		    <div class="container">
			
			    <div class="row">
				
				    <div class="col-md-3">
				
				        <img class="car-image"  src="#theme_url#img/car.png" />
					
					</div>
					
					<div class="col-md-6 text-center center-block">
					
					    <h3>Chcesz sprzedać auto?</h3>
							<span>wstaw na nasz plac - bezpłatnie!</span><br />
							<span>jak się nie sprzeda - odbierasz i nic nie płacisz!</span><br />
							<span>lub sprzedaj od ręki i odbierz gotówkę nawet dziś - skup aut : tu</span>
							
						<div>
						
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">

						</div>
					
					
					</div>
					
					
					<div class="col-md-3 right-block text">
				
				        <div class="pull-right text-special">
							<i class="fa fa-chevron-right"></i> Odwiedź nasz profil na Faceboku <br />
							<i class="fa fa-chevron-right"></i> Przeczytaj opinie naszych klientów <br />
							<i class="fa fa-chevron-right"></i> Przeczytaj politykę prywatności <br />
							<i class="fa fa-chevron-right"></i> Nasze samochody na sprzedaż  <br />
							<i class="fa fa-chevron-right"></i> Wypełnij formularz sprzedaży <br />
						</div>
					
					</div>
				
				</div>
			
			</div>
			
			
		
		
		
		</div>
		
		
		<div class="window second"> 
		
		    <div class="container">
			
			    <div class="row">
				
					<div class="col-md-4">
					
					    <h2>NASZ FILM PROMUJĄCY AUTOSALON CAMIL</h2>
						
						<p class="firstp">
						    Sprawiedliwość tak się ma do sprawiedliwości społecznej jak 
							krzesło do krzesła elektrycznego. Ja jakoś nie miałem  
							rzecz biorąc, ja jestem w jednej dziedzinie za równoupraw 
							nieniem, a mianowicie: żeby w małżeństwie było 50% 
							Sprawiedliwość tak się ma do sprawiedliwości społecznej 
						</p>

						<p class="secondp">
							Oferowane przez nas pojazdy są zarejestrowane w Polsce
							przygotowane do jazdy: posiadają ważny przegląd techniczny
						</p>
					
					</div>
					
					<div class="col-md-7 col-md-offset-1">
					
					    <iframe class="pull-right" width="100%" height="390" style="margin:20px;margin-right:0px;" src="http://www.youtube.com/embed/jaejRqN-fpk" frameborder="0" allowfullscreen></iframe>
					
					</div>
			   
			    </div>
			
			</div>
		
		
		</div>
		
		
		<div class="window third"> 
		
		    <div class="container">
			
			    <div class="row">
				
				    <div class="col-md-5 left-box">
					
					    <div class="white-box">
						
							<h3>Sprzedaż samochodów</h3>
							<p>
							Sprawiedliwość tak się ma do sprawiedliwości społecznej jak <br />
							krzesło do krzesła elektrycznego. Ja jakoś nie miałem  <br />
							rzecz biorąc, ja jestem w jednej dziedzinie za równoupraw <br />
							nieniem, a mianowicie: żeby w małżeństwie było 50% <br />
							Sprawiedliwość tak się ma do sprawiedliwości społecznej 
							</p>
						
						</div>
					
					</div>
					
					<div class="col-md-7 right-box">
					
					    <img src="#theme_url#img/whiteboximage.png" style="margin-top:20px;" class="special-imeg" />
					
					</div>
			   
			    </div>
				
				<div class="row">
				
				    <div class="col-md-5 left-box">
					
					    <div class="white-box">
						
						    <h3>Formularz sprzedaży auta</h3>
							<p>
							Sprawiedliwość tak się ma do sprawiedliwości społecznej jak <br />
							krzesło do krzesła elektrycznego. Ja jakoś nie miałem  <br />
							rzecz biorąc, ja jestem w jednej dziedzinie za równoupraw <br />
							nieniem, a mianowicie: żeby w małżeństwie było 50% <br />
							Sprawiedliwość tak się ma do sprawiedliwości społecznej 
							</p>
						
						</div>
					
					</div>
					
					<div class="col-md-7 right-box">
					
					    <img src="#theme_url#img/nextbg.png" style="margin-top:20px;"/>
					
					</div>
			   
			    </div>
			
			</div>
		
		
		</div>
		
		<div class="window fourth"> 
		
		    <div class="container">
			
			    <div class="row" style="padding-bottom:50px;">
				
				
					
						<div class="col-md-4 box-first">
						 
						    <h3>Opinie naszych klientów:</h3>
						    
							<div class="box blue">
								Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							</div>
						
						</div>
						
						<div class="col-md-4 box-second">
						
						    <div class="box grey">
							
							    Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							
							</div>
						
						</div>
						
						<div class="col-md-4 box-third">

						    <div class="box red">
							
							    Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							
							</div>
						
						</div>
					
				
			   
			    </div>
				
				
				<div class="row">
				
				
				    <div class="col-md-12">
					<h3>Partnerzy:</h3>
					
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						
					</div>

				</div>
				
				<div class="row">
				
				    <div class="col-md-12">
					<h3>Współpraca i finansowanie:</h3>
					
					   	<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
					
					</div>

				</div>
			
			</div>
		
		
		</div>