		<div class="window">
		    
			<div class="container">
			
			    <div class="row">
			
					#page_id#

				</div>
			
			</div>
		
		</div>
		
		
		<div class="window page"> 
		
		    <div class="container">
			
			    <div class="row">
				
				
				
				    <div class="#page_type# text-block" style="padding:50px;">
					
					<h4 style="width:35%;">#page_name#</h4>
					
					#page_content#
					</div>
					
					#side_bar#
					
				
			   
			    </div>
			
			</div>
		
		
		</div>
		
		
		<div class="window first">
		
		    <div class="container">
			
			    <div class="row">
				
				    <div class="col-md-3">
				
				        <img  src="#theme_url#img/car.png" />
					
					</div>
					
					<div class="col-md-6 text-center center-block">
					
					    <h3>Chcesz sprzedać auto?</h3>
							<span>wstaw na nasz plac - bezpłatnie!</span><br />
							<span>jak się nie sprzeda - odbierasz i nic nie płacisz!</span><br />
							<span>lub sprzedaj od ręki i odbierz gotówkę nawet dziś - skup aut : tu</span>
							
						<div>
						
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">
							<img src="http://placehold.it/110x73">

						</div>
					
					
					</div>
					
					
					<div class="col-md-3 right-block">
				
				        <div class="pull-right">
							<i class="fa fa-chevron-right"></i> Odwiedź nasz profil na Faceboku <br />
							<i class="fa fa-chevron-right"></i> Przeczytaj opinie naszych klientów <br />
							<i class="fa fa-chevron-right"></i> Przeczytaj politykę prywatności <br />
							<i class="fa fa-chevron-right"></i> Nasze samochody na sprzedaż  <br />
							<i class="fa fa-chevron-right"></i> Wypełnij formularz sprzedaży <br />
						</div>
					
					</div>
				
				</div>
			
			</div>
			
			
		
		
		
		</div>
		
		

		
		
		
		<div class="window fourth"> 
		
		    <div class="container">
			
			    <div class="row" style="padding-bottom:50px;">
				
				
					
						<div class="col-md-4" style="padding-right:0px;">
						 
						    <h3>Opinie naszych klientów:</h3>
						    
							<div class="box blue">
								Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							</div>
						
						</div>
						
						<div class="col-md-4" style="padding-left:0px;padding-right:0px;">
						
						    <div class="box grey">
							
							    Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							
							</div>
						
						</div>
						
						<div class="col-md-4" style="padding-left:0px;">

						    <div class="box red">
							
							    Sprawiedliwość tak się ma do sprawiedliwości społec
								krzesło do krzesła elektrycznego. Ja jakoś nie miałem 
								rzecz biorąc, ja jestem w jednej dziedzinie za równou
								nieniem, a mianowicie: żeby w małżeństwie było 50%
								Sprawiedliwość tak się ma do sprawiedliwości społec <br />
								<span class="pull-right">~~Leszek Rudnicki Onet.pl</span>
							
							</div>
						
						</div>
					
				
			   
			    </div>
				
				
				<div class="row">
				
				
				    <div class="col-md-12">
					<h3>Partnerzy:</h3>
					
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						
					</div>

				</div>
				
				<div class="row">
				
				    <div class="col-md-12">
					<h3>Współpraca i finansowanie:</h3>
					
					   	<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
						<div class="col-md-2">
							<img class="img-responsive" src="http://placehold.it/150x100">
						</div>	
						
					
					</div>

				</div>
			
			</div>
		
		
		</div>