				
	<div class="panel panel-default" style="margin-bottom:0px;">
		<div class="panel-heading" style="text-transform:uppercase;text-align:center;font-family: 'Source Sans Pro';font-weight:600;font-size:16px;letter-spacing:3px;border-radius:0px;">#panel_title#</div>
			<div class="panel-body" style="padding:20px;">
				#panel_content#
			</div>
	</div> 
			
