<form class="shortcode_contact" method="post"> 

<input type="text" name="subject" placeholder="Temat"> <br />

<input type="text" name="nick" placeholder="Imie / Nickname">  <br />

<input type="text" name="e_mail" placeholder="Email"> <br />


<textarea name="txt" placeholder="Tresc wiadomosci..."></textarea> <br />

<input type="submit" onclick="validate()" value="Wyslij">

</form>