/* Contact form */

.shortcode_contact {


max-width:430px;

}

.shortcode_contact > input[type="text"]  {

    height:35px;
    width:280px;
	font-size:12px;

}

.shortcode_contact > textarea{


height:150px;
width:380px;
padding-top:20px;

}

.info_box {


    background:#0074ea;
	color:#FFF;
	padding:15px 20px 15px 20px;
    font-size:16px;

}

.shortcode_contact label {

    min-width:100px;
	display:block;

}

ul.sc {

    padding-left:100px;
    margin-top:50px;

}

ul.sc > li:first-child {

	color:#000;
	font-weight:normal;
}

ul.sc > li {

    font-weight:bold;
    color:#0074ea;

}


.shortcode_contact > input[type="text"] , .shortcode_contact > textarea{


background: #FFF;
margin: 0px 10px 0px 10px;
border:0px;
padding-left:20px;
margin:10px;
border:1px solid #ccc;

}

.shortcode_contact > input[type="text"]:focus ,.shortcode_contact > textarea:focus{

outline:0px;

}

.shortcode_contact > input[type="submit"] {

background: #0074ea;
border:0px;
color:#fff;
font-family:calibri;
text-transform:uppercase;
padding:15px 0px 15px 0px;
font-size:15px;
width:175px;
margin-top:20px;

}




