@charset "utf-8";

html, body {
	padding: 0;
	margin: 0;
	overflow-x: hidden !important; /* Horisontal scrolling */
	font-family: Arial, Helvetica, sans-serif;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {clear: both;}
.fl {float: left;}
.fr {float: right;}

/* Tabs */
#tabs {
	margin-top: 15px;
	margin-left: 20px;
	width: 100%;
	height: auto;
	padding: 5px;
	padding-left: 0;
	background: #FFFFFF;
	font-size: 14px;
	color: #9B9FA7;
}
#tabs > span {
	color: #5D6677;
	padding: 10px;
	background: #F8F9FA;
	border: 1px solid #eeefef;
	border-bottom: 1px solid #F8F9FA;
	font-weight: 700;
	margin: 3px;
}
#tabs > span > img {
	vertical-align: middle;
	padding-right: 3px;
}
#tabs > a {
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #eeefef;
	margin: 3px;
	color: #9498A1;
	text-decoration: none;
}
#tabs > a:hover {
	color: #9B9FA7;
	text-decoration: none;
}
#tabs > a:focus {
	color: #9B9FA7;
	text-decoration: none;
}
.form-line {margin-top: 5px;}
.form-line-etc {
	color: #888888;
	font-weight: 700;
}
.form-login {
	margin: auto;
	width: 210px;
	height: auto;
	font-size: 12px;
	font-weight: 700;
	color: #2A2E36;
}
.pages-create {
	margin: auto;
	width: 600px;
	height: auto;
	font-size: 12px;
	font-weight: 700;
	color: #2A2E36;
}

/* Forms */
input {
	margin-top: 3px;
	width: 200px;
	min-height: 20px;
	border: 1px solid #d9dbdd;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}
select {
	margin-top: 3px;
	width: 213px;
	min-height: 20px;
	border: 1px solid #d9dbdd;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}
textarea {
	margin-top: 3px;
	width: 400px;
	min-height: 100px;
	border: 1px solid #d9dbdd;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}


input:hover, select:hover, textarea:hover {

 border-color:rgba(82, 168, 236, 0.8);
 outline:0;
 outline:thin dotted \9;
 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);



}
input:hover, select:hover ,input:focus{
 border-color:rgba(82, 168, 236, 0.8);
 outline:0;
 outline:thin dotted \9;
 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 transform: scale(1.05);
 -webkit-transform:scale(1.05); 
-moz-transform:scale(1.05);
	
	}

input:focus, select:focus, textarea:focus {
 border-color:rgba(82, 168, 236, 0.8);
 outline:0;
 outline:thin dotted \9;
 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
 box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);

}
#bar {
	padding: 15px;
	padding-right: 30px;
	background: #2A2E36;
	top: 0;
	left: 0;
	right: 0;
}
#bar img {
	vertical-align: middle;
	padding-right: 5px;
}
#header {
	margin-top: 10px;
	width: 100%;
	height: 32px;
	padding: 10px;
}
#header img { /* [Future] Move to background */
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.header-content {
	vertical-align: middle;
	overflow: hidden;
}
.header-title {
	font-size: 16px;
	font-weight: 700;
	color: #2A2E36;
}
.header-tagline {
	font-size: 12px;
	margin-top: 10px;
	font-weight: 700;
	color: #9B9FA7;
}
#footer {
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #9B9FA7;
}
.line {
	margin-top: 20px;
	background: #F8F9FA;
	height: auto;
	padding: 10px;
	border-top: 1px solid #eeefef;
	border-bottom: 1px solid #eeefef;
}
.container {
	margin-top: 4px;
	background: #F8F9FA;
	padding: 10px;
	border-top: 1px solid #eeefef;
	border-bottom: 1px solid #eeefef;
}
.side-left {
	float: left;
	min-width: 150px;
	border: 1px solid #eeefef;
	margin-left: 20px;
	margin-right: 20px;
	background: #FFFFFF;
}
.side-left-title {
	line-height: 15px;
	padding: 10px;
	height: auto;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 12px;
	font-weight: 700;
	background: #3F4551;
	text-transform: uppercase;
}
.side-left-content {
	font-size: 12px;
	line-height: 20px;
	padding: 10px;
	background: #FFFFFF;
}
.side-left a:after {
	content: "»";
	float: right;
}
.side-right {
	font-size: 12px;
	overflow: hidden;
	margin-right: 20px;
	border: 1px solid #eeefef;
}
.side-right-title {
	background: #3F4551;
	padding: 10px;
	height: auto;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
}

.side-right-title a , .side-right-title a:hover {

	color: #FFFFFF;
	text-decoration: none;


}
.side-right-content {
	margin: 0;
	padding: 10px;
	overflow:hidden;
	font-weight: 700;
	color: #9B9FA7;
	line-height: 25px;
	background: #FFFFFF;
}
.pages-list {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
}
.pages-list-title {
	padding: 10px;
	background: #5D6677;
	height: auto;
	color: #FFFFFF;
	font-weight: 700;
	text-align: left;
	line-height: 15px;
}
.pages-list-id {width: 5%;}
.pages-list-name {width: 55%;}
.pages-list-medium {width: 150px!important;display:block;text-align:center;}
.pages-list-pos {width: 13%;text-align:center;}
.pages-list-act {width: 10%; text-align:center;}
.pages-list {line-height: 5px;}
.pages-list tbody tr:nth-child(even) {background: #F8F9FA;}
.pages-list-item {border: 1px solid #FFFFFF;}


/* Buttons */
.button {
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	margin: 5px;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}
	.button:hover {
		color: #FFFFFF;
		text-decoration: none;
		
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
	}
	.button:active {
		color: #FFFFFF;
		text-decoration: none;
		
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
	}
	.button:focus {
		color: #FFFFFF;
		text-decoration: none;
		
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
	}
	
.submit {
	border: 1px solid #2069B4;
	background-color: #2069B4;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}
    .submit:hover {
		background-color: #5081B3;
		
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
	}
    .submit:active {
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
	}

.dark {
	background-color: #3F4551;
	
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	-ms-transition: all 0.218s;
	transition: all 0.218s;
}
    .dark:hover {
	    background-color: #5d6677;
	    
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
    }
    .dark:active {
	    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	    
	    -webkit-transition: all 0.218s;
	    -moz-transition: all 0.218s;
	    -o-transition: all 0.218s;
	    -ms-transition: all 0.218s;
	    transition: all 0.218s;
    }

.image-right {
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 36px;
}
.image-left {
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 36px;
}
.ic-left-arrow {background-image: url(../../images/icons/ic_left.png);}
.ic-right-arrow {background-image: url(../../images/icons/ic_right.png);}
.ic-user {background-image: url(../../images/icons/ic_user.png);}
.ic-log-out {background-image: url(../../images/icons/ic_power.png);}
.button img {vertical-align: middle;}
.buttons-general {overflow: hidden;}

/* Info */
.status {
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}
.info {
	border: 1px solid #cae0e5;
	background: #e5f5f9;
	color: #5a9bab;
}

/* Links */
a {
	color: #2069B4;
	text-decoration: underline;
}
a:hover {
	color: #2A2E36;
	text-decoration: underline;
}
a:active {
	color: #dd4b39;
	text-decoration: underline;
}
	
.gallery { 

 list-style-type:none;
 
 }
 
 .gallery li {
 
 float:left;
 
 }
 
 .gallery li span {
 
 color:#3F4551;
 text-align:center;
 
 }
 
 .gallery li .img {
 width:100px;
 margin-right: 15px;  
 margin-bottom: 8px;  
 border: 1px solid silver;  
 background: white; padding: 4px; 
 -webkit-border-radius: 3px;  
 -o-border-radius: 3px; 
 -moz-border-radius: 3px;  
 border-radius: 3px; 
 -webkit-box-shadow: 1px 1px 3px silver;  
 -o-box-shadow: 1px 1px 5px silver;  
 -moz-box-shadow: 1px 1px 3px silver;  
 box-shadow: 1px 1px 3px silver;  
 
 }
	
